# Created by https://www.toptal.com/developers/gitignore/api/nextjs
# Edit at https://www.toptal.com/developers/gitignore?templates=nextjs

### NextJS ###
# dependencies
/node_modules

# next.js
.next/

# misc
.DS_Store
